/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Selettori Generali */

header{
    background-color: #0084fd;
    height: 80px;
}


i{
    font-size: 20px;
}

/* Flex */
.flex{
    display: flex;
    align-items: center;
}

.flex-btw{
    justify-content: space-between;
}

/* Conteiner */
.conteiner{
    width: 300px;
    height: 100%;
    text-align: center;
    margin: auto;
    background-color: lime;
}


/* Tag Header */

.navigazione{
    height: 100%;
}















@media screen and (min-width: 576px){

    /* Selettori Generali */

    

    .conteiner{
        width: 90%;
        
    }
    

}